<nz-tabset>
    <nz-tab nzTitle="全部">
      <div class="log-item">
        <div class="log-item-header">
          <span class="log-date">2019-01-27</span>
          <h3 class="log-title"><a>这是文章的标题啊啊啊啊啊啊啊啊啊啊啊</a></h3>
        </div>
        <div class="log-item-body">
          这是文章的内容XXXXXXXXXXX
        </div>
      </div>
      <div class="log-item">
          <div class="log-item-header">
            <span class="log-date">2019-01-27</span>
            <h3 class="log-title"><a>这是文章的标题啊啊啊啊啊啊啊啊啊啊啊</a></h3>
          </div>
          <div class="log-item-body">
            这是文章的内容XXXXXXXXXXX
          </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="分类1">
      Content of Tab Pane 2
    </nz-tab>
    <nz-tab nzTitle="分类2">
      Content of Tab Pane 3
    </nz-tab>
</nz-tabset>