<app-header></app-header>
<div class="container center-container">
  <p class="page-title">归档</p>
  <ul class="catagory">
    <h3 class="catagory-name"><a href="">默认分类(1)</a></h3>
    <li>
      <a class="title">这是文章的标题1111</a>
      <span class="date">2019-01-27</span>
    </li>
    <li>
      <a class="title">这是文章的标题1111</a>
      <span class="date">2019-01-27</span>
    </li>
    <li>
      <a class="title">这是文章的标题1111</a>
      <span class="date">2019-01-27</span>
    </li>
  </ul>
  <ul class="catagory">
      <h3 class="catagory-name"><a href="">默认分类(1)</a></h3>
      <li>
        <a class="title">这是文章的标题1111</a>
        <span class="date">2019-01-27</span>
      </li>
      <li>
        <a class="title">这是文章的标题1111</a>
        <span class="date">2019-01-27</span>
      </li>
      <li>
        <a class="title">这是文章的标题1111</a>
        <span class="date">2019-01-27</span>
      </li>
    </ul>
</div>
